/* Your CSS Code here. */
.holder{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.item{
	width: 90px;
	height: 90px;
	font-size: 20px;
}
.item:nth-child(1){
	background-color: green;
}
.item:nth-child(2){
	background-color: red;
}
.item:nth-child(3){
	background-color: blue;
}